<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>TeaMetaStorage</title>
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="/css/custom.css" rel="stylesheet" />
	<link href="/css/sb-admin-2.css" rel="stylesheet" />
	<link href="/css/style.css" rel="stylesheet" />
	<link href="/css/toastr.css" rel="stylesheet" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<section class="conA">
		<div class="container">
			<div class="card o-hidden border-0 shadow-lg my-5">
				<div class="card-body p-0">
					<!-- Nested Row within Card Body -->
					<div class="row">
						<div class="col-lg-12">
							<div class="p-5">
								<div class="text-center">
									<h4 class="h4 text-gray-900 mb-4">계정 생성</h4>
								</div>
								<form class="user">
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input type="text" class="form-control form-control-user" id="id" name="id" placeholder="아이디 입력">
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control form-control-user" id="team" name="team" placeholder="이름 입력">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input type="text" class="form-control form-control-user" id="email" name="email" placeholder="이메일 입력">
										</div>
										<div class="col-sm-6">
											<input type="text" class="form-control form-control-user" id="name" name="name" placeholder="팀 이름 입력">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<input type="password" class="form-control form-control-user" id="password" name="password" placeholder="비밀번호 입력">
										</div>
										<div class="col-sm-6">
											<input type="password" class="form-control form-control-user" id="passworddRepeat" name="passwordRepeat" placeholder="비밀번호 확인">
										</div>
									</div>
									<input id="btnRegisterAccount" type="button" class="btn btn-primary btn-user btn-block" value="계정 생성하기">
									<script>
										$('#btnRegisterAccount').on('click', function(e) {
											if($('#id').val() == "" ){
												toastr.error('아이디를 입력하세요');
												$('#id').focus();
												return;
											}else if($('#id').val().length > 50 ){
												toastr.error('아이디가 너무 깁니다.')
												$('#id').focus();
												return;
											}else if($('#team').val() == "" ){
												toastr.error('팀 이름을 입력하세요')
												$('#team').focus();
												return;
											}else if($('#team').val().length > 50 ){
												toastr.error('팀 이름이 너무 깁니다.')
												$('#team').focus();
												return;
											}else if($('#name').val() == "" ){
												toastr.error('이름을 입력하세요')
												$('#name').focus();
												return;
											}else if($('#name').val().length > 50 ){
												toastr.error('이름이 너무 깁니다.')
												$('#name').focus();
												return;
											}else if($('#email').val() == "" ){
												toastr.error('이메일을 입력하세요')
												$('#email').focus();
												return;
											}else if($('#email').val().length > 50 ){
												toastr.error('이메일이 너무 깁니다.')
												$('#email').focus();
												return;
											}else if($('#password').val() == "" ){
												toastr.error('비밀번호를 입력하세요')
												$('#password').focus();
												return;
											}else if($('#password').val().length > 50 ){
												toastr.error('비밀번호가 너무 깁니다.')
												$('#password').focus();
												return;
											}else if($('#rpassword').val() !== $('#passwordRepeat').val() ){
												toastr.error('비밀번호 재입력이 서로 다릅니다')
												$('#password').focus();
												return;
											}else{
												var data={
													id:$('#id').val(),
													name:$('#name').val(),
													email:$('#email').val(),
													team:$('#team').val(),
													password:$('#password').val(),
													passwordRepeat:$('#passwordRepeat').val()
												}
												$.ajax({
													type:'POST',
													url:"/requestRegister",
													dataType: "text",
													contentType:'application/json; charset=utf-8',
													data:JSON.stringify(data),
													success : function(data){
														var responseData = JSON.parse(data);
														if(Boolean(responseData.error)){
															toastr.error(JSON.parse(data).errorReason);
														}else{
															toastr.success("가입 성공! 3초 후 로그인 화면으로 이동합니다.");
															setTimeout(function() { 
																window.location.href = "/"; 
															}, 3000);
														}
													},
													error : function(error){
														toastr.warning(JSON.parse(error).errorReason);
														console.log(JSON.stringify(error));
													}
												})
											}
										});
									</script>
								</form>
								<hr>
								<div class="text-center">
									<a class="small" href="forgotPassword">비밀번호 초기화</a>
								</div>
								<div class="text-center">
									<a class="small" href="/">로그인 이동</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="/js/jquery.min.js"></script>
	<script src="/js/toastr.js"></script>
	<script src="/js/scripts.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>