<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<!-- Footer -->
<th:block th:fragment="footerFragment">
	<footer class="sticky-footer list-group-item-light">
		<link
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
			rel="stylesheet"
			integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
			crossorigin="anonymous">
		<section class="footers list-group-item-light pt-5 pb-3">
			<div class="container pt-5">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 footers-one">
						<div class="footers-logo">
							<img src="/img/companyImage.png" alt="Logo" style="width: 120px;">
						</div>
						<div class="footers-info mt-3">
							<p>
								당신의 정보가 시작하는 데이터 플랫폼<br> 데일리 데이터 허브입니다<br>
							</p>
						</div>
						<div class="social-icons">
							<a href="https://m.facebook.com/5seung5seung"><i
								id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a> <a
								href="https://www.linkedin.com/in/%EC%8A%B9%ED%98%84-%EC%98%A4-a379231a8/"><i id="social-tw"
								class="fa fa-linkedin-square fa-2x social"></i></a> <a
								href="https://github.com/LucestDail"><i id="social-gp"
								class="fa fa-github-square fa-2x social"></i></a> <a
								href="mailto:dhtmdgussksm@gmail.com"><i id="social-em"
								class="fa fa-envelope-square fa-2x social"></i></a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 footers-two">
						<h5>데이터 관리</h5>
						<ul class="list-unstyled">
							<li><a href="/data/main">종합 전광판</a></li>
							<li><a href="/data/newsdashboard">데이터 발생현황</a></li>
							<li><a href="/data/keywordtimedashboard">키워드 시계열 분석</a></li>
							<li><a href="/data/newsraw">원본 데이터 확인</a></li>
							<li><a href="/data/analysisraw">분석 데이터 확인</a></li>
							<li><a href="/data/excludedkeyword">제외 키워드 확인</a></li>
							<li><a href="/data/excludedkeywordadd">제외 키워드 등록</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 footers-three">
						<h5>개인정보 관리</h5>
						<ul class="list-unstyled">
							<li><a>마이 페이지</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 footers-four">
						<h5>팀 업무</h5>
						<ul class="list-unstyled">
							<li><a href="/team/main">팀 메인</a></li>
							<li><a href="/team/work">팀 업무 관리</a></li>
							<li><a href="/team/data">팀 데이터 관리</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-2 footers-five">
						<h5>문의 및 공지</h5>
						<ul class="list-unstyled">
							<li><a href="/qna/qna">문의사항</a></li>
							<li><a href="/qna/datapolicy">데이터 정책</a></li>
							<li><a href="/qna/sitepolicy">운영관리 정책</a></li>
						</ul>
					</div>

				</div>
			</div>
		</section>
		<section class="copyright border">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12 pt-3">
						<p class="text-muted">© Daily Data Hub All Right Reserved</p>
					</div>
				</div>
			</div>
		</section>
	</footer>
</th:block>

</html>